header{
    justify-content: center;
}

.badge-orange{
    background-color: orange;
}

li {
    text-transform: capitalize;
  }

@media only screen and (max-width: 975px) {
    #day1, #day2, #day3, #day4, #day5 {
        display: block !important;
        justify-content: center;
        align-items: center;
        width:100% !important;
        height: auto;
    }
    
}