/* this centers the header */
header{
    justify-content: center;
}
/* this changes the display of the city name, date, and weather icon to be inline */
.display-inline{
    display: inline-flex !important;
}
/* this adjust the size of the today's date weather icon */
#icon {
    width: 50px;
}
/* this is for the high UV index color of badge */
.badge-orange{
    background-color: orange;
}
/* this capitalizes all the city name inputs */
li {
    text-transform: capitalize;
  }
